In [1]:
import pandas as pd
import numpy as mp

In [12]:
cv = pd.read_csv('dataset_encod.csv')

In [13]:
cv.head()

   Proximity  Gender  Age  Comorbidities  Smoking  State  Class
0          3       1   48              1        0      2      2
1          1       1   28              0        0      1      1
2          3       0   25              1        1      2      3
3          0       0   10              0        0      3      3
4          3       0   68              1        0      2      3

In [14]:
cv.describe()

,Proximity,Gender,Age,Comorbidities,Smoking,State,Class
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,1.590000,0.500000,50.250000,0.490000,0.420000,1.640000,1.570000
std,1.155531,0.502519,25.622502,0.502418,0.496045,1.030053,1.112418
min,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,26.750000,0.000000,0.000000,1.000000,1.000000
50%,2.000000,0.500000,48.000000,0.000000,0.000000,2.000000,1.500000
75%,3.000000,1.000000,73.500000,1.000000,1.000000,2.000000,3.000000
max,3.000000,1.000000,89.000000,1.000000,1.000000,3.000000,3.000000

In [15]:
cv.shape

(100, 7)

In [62]:
from sklearn.model_selection import train_test_split
X = cv.drop(['Class'],axis=1)
Y = cv.iloc[:,-1].values

In [65]:
clf = RandomForestClassifier(n_estimators=10000, random_state=0, n_jobs=-1)
clf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10000, n_jobs=-1, random_state=0)

In [69]:
# This is an example of a 69 year old man who crosspathed at 1ft. He does not smoke but has comorbidities, lives in Mumbai.
val = clf.predict([[3,1,69,1,0,3]])

In [70]:
# Model predicts he is at very high risk because of his age and proximity mainly.
val

array([3])

In [71]:
# This is an example of a 20 year old female who crosspathed at 3ft.She smokes but does not have comorbidities, lives in Bangalore.
val_1 = clf.predict([[2,0,20,0,1,2]])

In [72]:
# Model predicts she is at high risk because of proximity and smoking.
val_1

array([2])